h1 {
    letter-spacing: 0.5em;
    font-family: "Verdana";
    font-size: 13px;
    color: black;
    font-weight: lighter;
}

h2 {
    font-family: "Verdana";
    font-size: 12px;
    color: black;
    font-weight: lighter;
}


.outer {
  margin-top: 5%;
  width: 100%;
  text-align: center;
}

.inner_header {
  margin-top: 2%;
  width: 50%;
  display: inline-block;
  text-align: center;

}
.inner_body {
  margin-top: 2%;
  width: 50%;
  height: 60%;
  display: inline-block;
  text-align: justify;
}



/*.main {
  width: 80%;
  height: 100%;
  font-size: 12px;
  font-family: "Verdana";
}*/

/*.main_header {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Verdana";
  width: 80%;
  height:100%;
  text-align:top;
}

.sidebar_head{
  width: 100%;
  height: 100%;
  margin-right: 3%;
  vertical-align:bottom;
}

.sidebar {
  width: 100%;
  height: 100%;
  margin-right: 3%;
}

.sidebar_cell {
  text-align:right;
  vertical-align:top;
}

.tab {
  color:#009E8F;
}

.email{

  font-size:11px;
}*/

body {
  background-color: #ffffff;
	font-size: 12px;
	font-family: "Verdana";
	color: black;
}

a:link {
  color: #009E8F;
  text-decoration: none; 
}
a:active {
  color: #009E8F;
  text-decoration: none; 
}
a:visited {
  color: #009E8E;
  text-decoration: none; 
}
a:hover {
  color: #5DCFC3;
  text-decoration: none; 
}

button {
  background-color:white;
  border:0px;
  color: #009E8F;
}
button:active {
  background-color:white;
  border:0px;
  color:#000000;
}

button:focus {outline:0;}

button:hover{
  color: #5DCFC3;
  text-decoration: none; 
}


