h1 {
    letter-spacing: 0.5em;
    font-family: "Verdana";
    font-size: 15px;
    color: black;
    font-weight: lighter;
}

h2 {
    font-family: "Verdana";
    font-size: 12px;
    color: black;
    font-weight: lighter;
    letter-spacing: 0.2em;}

hr {
  width: 70%;
  height: 1px;
  color: #000000;
  background-color: #000000;
  height: 1px;
  border: 0;
}

.outer {
  margin-top: 4%;
  width: 100%;
  text-align: center;
}

.inner_header {
  margin-top: 1%;
  width: 50%;
  display: inline-block;
  text-align: center;

}
.inner_body {
  margin-top: 0.5%;
  width: 50%;
  height: 60%;
  display: inline-block;
  text-align: justify;
}

.underline_default {
  text-decoration: underline;
}

#aboutme_left {
  width: 40%;
  float: left;
  margin-top: 2%;
  display: inline-block;
}

#aboutme_right {
  width: 60%;
  float: right;
  display: inline-block;
  margin-top: 2%;
}

#footer {
  letter-spacing: 0.2em;
}


body {
  background-color: #ffffff;
	font-size: 12px;
	font-family: "Verdana";
	color: black;
}

a:link {
  color: #009E8F;
  text-decoration: none; 
}
a:active {
  color: #009E8F;
  text-decoration: none; 
}
a:visited {
  color: #009E8E;
  text-decoration: none; 
}
a:hover {
  color: #5DCFC3;
  text-decoration: none; 
}

button {
  background-color:white;
  border:0px;
  color: #009E8F;
  letter-spacing: 0.2em;
}
button:active {
  background-color:white;
  border:0px;
  color:#000000;
}

button:focus {outline:0;}

button:hover{
  color: #5DCFC3;
  text-decoration: none; 
}


