h1 {
    letter-spacing: 0.5em;
    line-height: 1.5;
    font-family: "Verdana";
    font-size: 12px;
    color: black;
    text-align:right;
    font-weight: lighter;
}

h2 {

    font-family: "Verdana";
    font-size: 12px;
    color: white;
    font-weight: lighter;

}

.main {
  float: left;
  width: 50%;
}


.sidebar_head{
  float: left;
  width: 20%;
  height: 30%;
  margin-right: 3%;
}

.sidebar {
  float: left;
  width: 20%;
  height: 100%;
  margin-right: 3%;
}


body {
  background-color: #ffffff;
	font-size: 12px;
	font-family: "Verdana";
	color: black;
	margin-top:100;
  padding:0;
  height:100%;
}

a:link {
  color: #009E8F;
  text-decoration: none; 
}
a:active {
  color: #009E8F;
  text-decoration: none; 
}
a:visited {
  color: #009E8E;
  text-decoration: none; 
}
a:hover {
  color: #5DCFC3;
  text-decoration: none; 
}

button {
  background-color:white;
  border:0px;
  float:right;
}
button:active {
  background-color:white;
  border:0px;
  color:#000000;
}

button:focus {outline:0;}

button:hover{
  color: #5DCFC3;
  text-decoration: none; 
}


.tab {
  color:#009E8F;
}

